snippet init "init a cmake project" 
cmake_minimum_required(VERSION ${1:3.1})

set(CMAKE_CXX_STANDARD 11)
set(CMAKE_CXX_STANDARD_REQUIRED ON)

project(${2:projectName})

if (PROJECT_BINARY_DIR STREQUAL PROJECT_SOURCE_DIR)
	message(WARNING, "The binary dir of cmake cannot be same as source dir")
endif()

if (NOT CMAKE_BUILD_TYPE)
	set(CMAKE_BUILD_TYPE Release)
endif()

add_executable(\$\{PROJECT_NAME\} ${3:exe_file})

endsnippet
